Web-MySQL/IMJWeb.Sincronizacao.Local/Web References/Internet/Sinc23.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://sincronizacao.imjoias.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://sincronizacao.imjoias.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://sincronizacao.imjoias.com.br/">
      <s:element name="ObterAlbuns">
        <s:complexType />
      </s:element>
      <s:element name="ObterAlbunsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterAlbunsResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="AtualizarMercadoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="album" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="indices" type="tns:ArrayOfIndiceTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIndiceTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndiceTO" type="tns:IndiceTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndiceTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDTabela" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AtualizarMercadoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterMercadorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="album" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterMercadoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterMercadoriasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemoverMercadoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverMercadoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterFotos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFotosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterFotosResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagem" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="identificador" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarFotoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObterAlbunsSoapIn">
    <wsdl:part name="parameters" element="tns:ObterAlbuns" />
  </wsdl:message>
  <wsdl:message name="ObterAlbunsSoapOut">
    <wsdl:part name="parameters" element="tns:ObterAlbunsResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarMercadoriaSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizarMercadoria" />
  </wsdl:message>
  <wsdl:message name="AtualizarMercadoriaSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarMercadoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ObterMercadoriasSoapIn">
    <wsdl:part name="parameters" element="tns:ObterMercadorias" />
  </wsdl:message>
  <wsdl:message name="ObterMercadoriasSoapOut">
    <wsdl:part name="parameters" element="tns:ObterMercadoriasResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverMercadoriaSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverMercadoria" />
  </wsdl:message>
  <wsdl:message name="RemoverMercadoriaSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverMercadoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ObterFotosSoapIn">
    <wsdl:part name="parameters" element="tns:ObterFotos" />
  </wsdl:message>
  <wsdl:message name="ObterFotosSoapOut">
    <wsdl:part name="parameters" element="tns:ObterFotosResponse" />
  </wsdl:message>
  <wsdl:message name="GravarFotoSoapIn">
    <wsdl:part name="parameters" element="tns:GravarFoto" />
  </wsdl:message>
  <wsdl:message name="GravarFotoSoapOut">
    <wsdl:part name="parameters" element="tns:GravarFotoResponse" />
  </wsdl:message>
  <wsdl:portType name="SincronizadorSoap">
    <wsdl:operation name="ObterAlbuns">
      <wsdl:input message="tns:ObterAlbunsSoapIn" />
      <wsdl:output message="tns:ObterAlbunsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarMercadoria">
      <wsdl:input message="tns:AtualizarMercadoriaSoapIn" />
      <wsdl:output message="tns:AtualizarMercadoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterMercadorias">
      <wsdl:input message="tns:ObterMercadoriasSoapIn" />
      <wsdl:output message="tns:ObterMercadoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverMercadoria">
      <wsdl:input message="tns:RemoverMercadoriaSoapIn" />
      <wsdl:output message="tns:RemoverMercadoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterFotos">
      <wsdl:input message="tns:ObterFotosSoapIn" />
      <wsdl:output message="tns:ObterFotosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravarFoto">
      <wsdl:input message="tns:GravarFotoSoapIn" />
      <wsdl:output message="tns:GravarFotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SincronizadorSoap" type="tns:SincronizadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterAlbuns">
      <soap:operation soapAction="https://sincronizacao.imjoias.com.br/ObterAlbuns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarMercadoria">
      <soap:operation soapAction="https://sincronizacao.imjoias.com.br/AtualizarMercadoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterMercadorias">
      <soap:operation soapAction="https://sincronizacao.imjoias.com.br/ObterMercadorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverMercadoria">
      <soap:operation soapAction="https://sincronizacao.imjoias.com.br/RemoverMercadoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFotos">
      <soap:operation soapAction="https://sincronizacao.imjoias.com.br/ObterFotos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarFoto">
      <soap:operation soapAction="https://sincronizacao.imjoias.com.br/GravarFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SincronizadorSoap12" type="tns:SincronizadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterAlbuns">
      <soap12:operation soapAction="https://sincronizacao.imjoias.com.br/ObterAlbuns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarMercadoria">
      <soap12:operation soapAction="https://sincronizacao.imjoias.com.br/AtualizarMercadoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterMercadorias">
      <soap12:operation soapAction="https://sincronizacao.imjoias.com.br/ObterMercadorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverMercadoria">
      <soap12:operation soapAction="https://sincronizacao.imjoias.com.br/RemoverMercadoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFotos">
      <soap12:operation soapAction="https://sincronizacao.imjoias.com.br/ObterFotos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarFoto">
      <soap12:operation soapAction="https://sincronizacao.imjoias.com.br/GravarFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sincronizador">
    <wsdl:port name="SincronizadorSoap" binding="tns:SincronizadorSoap">
      <soap:address location="http://www.imjoias.com.br/Catalogo/Sincronizador/Sinc23.asmx" />
    </wsdl:port>
    <wsdl:port name="SincronizadorSoap12" binding="tns:SincronizadorSoap12">
      <soap12:address location="http://www.imjoias.com.br/Catalogo/Sincronizador/Sinc23.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>